.category-header{
    top: 4.6rem;
    height: 3.5rem;
}
.margin-top{
    margin-top:4.4rem;
}
.w-12_5{
    width: 12.5rem;
}
.overflow-hidden{
    overflow:hidden;
}
.mh-9{
    max-height:9rem;
}
.popup_window{
    position: relative;
    margin: .5rem auto;
}
.ml-1_1{
    margin-left: 1.1rem;
}